In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import faker

In [3]:
# Initializing faker
faker = faker.Faker()

In [4]:
# Function to create fake profiles
def make_fake_profiles(num):
    
    owns_or_rents = ["Owns", "Rents"]
    
    fake_profiles = [{
        'Email': faker.email(),
        'Phone Numbers': faker.phone_number(),
        'Home Address': faker.address(),
        'Name': faker.name(),
        'Date of Birth': faker.date_between(start_date='-60y', end_date='today'),
        'Number of Kids': np.random.randint(1,5),
        'Owns or Rents': np.random.choice(owns_or_rents),
        'Annual Income':np.random.randint(5000,1000000),
        'Speeding Tickets in past year':np.random.randint(0,20), 
    } for x in range(num)]
    
    return fake_profiles

In [5]:
# Input & Result
profiles_df = pd.DataFrame(make_fake_profiles(num=int(input("Enter number of profiles you want to create: "))))
profiles_df.to_csv("fake_data.csv")
profiles_df

Enter number of profiles you want to create: 7

,Email,Phone Numbers,Home Address,Name,Date of Birth,Number of Kids,Owns or Rents,Annual Income,Speeding Tickets in past year
0,marvinmaynard@example.com,420.647.4098,"642 Wood Ramp\nEast Samanthaborough, ID 13273",Christina Johnson,1981-06-18,3,Rents,675256,0
1,schmidttheodore@example.com,2506395214,"247 Cooper Viaduct\nSouth Kerrychester, ME 61237",Timothy Miranda,1988-03-02,2,Owns,477138,19
2,yatkins@example.net,001-104-241-9996x773,"23203 Woods Stream Suite 936\nCarlaport, CT 11721",Thomas Fischer,2003-09-01,1,Owns,362945,0
3,cnewman@example.net,+1-969-971-8437x549,"168 Richard Center Suite 763\nKristineberg, KY...",Christopher Edwards,1967-07-25,2,Rents,928677,10
4,michaellopez@example.net,310.841.8872,"577 Robert Ford\nBakershire, OH 00744",Christopher Gilbert,2000-08-04,4,Rents,536943,14
5,aviladaniel@example.org,837.570.4146,"095 Jeanne Extension Suite 867\nRitaville, HI ...",Devon Keller,1977-11-23,4,Owns,723225,14
6,cohenmelissa@example.org,659.003.3087x15624,"268 Ware Dam Suite 135\nNorth Chrisview, AZ 48384",Christine Wade,1994-07-23,4,Owns,475195,17